.error-indicator{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    color: #00bc8c;

}

.boom{
    text-align: center;
    font-size: 40px;
}

.error-indicator span {
    font-size: 25px;
    display: block;
    text-align: center;
}