.random-planet{
    padding: 25px;
    margin-top: 50px;
    background-color: #2B2A2B;
    min-height: 400px;
    vertical-align: middle;
}

.random-planet__info li span{
    margin-left: 10px;
}

.random-planet__img img{
    width: 100%;
}