@keyframes ldio-7rfqzo2nvoe {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-7rfqzo2nvoe div { box-sizing: border-box!important }
.ldio-7rfqzo2nvoe > div {
    position: absolute;
    width: 64.38000000000001px;
    height: 64.38000000000001px;
    top: 23.310000000000002px;
    left: 23.310000000000002px;
    border-radius: 50%;
    border: 4.44px solid #000;
    border-color: #338cea transparent #338cea transparent;
    animation: ldio-7rfqzo2nvoe 2.2222222222222223s linear infinite;
}

.ldio-7rfqzo2nvoe > div:nth-child(2), .ldio-7rfqzo2nvoe > div:nth-child(4) {
    width: 53.28px;
    height: 53.28px;
    top: 28.860000000000003px;
    left: 28.860000000000003px;
    animation: ldio-7rfqzo2nvoe 2.2222222222222223s linear infinite reverse;
}
.ldio-7rfqzo2nvoe > div:nth-child(2) {
    border-color: transparent #ee2b04 transparent #ee2b04
}
.ldio-7rfqzo2nvoe > div:nth-child(3) { border-color: transparent }
.ldio-7rfqzo2nvoe > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-7rfqzo2nvoe > div:nth-child(3) div:before, .ldio-7rfqzo2nvoe > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4.44px;
    height: 4.44px;
    top: -4.44px;
    left: 25.53px;
    background: #338cea;
    border-radius: 50%;
    box-shadow: 0 59.940000000000005px 0 0 #338cea;
}
.ldio-7rfqzo2nvoe > div:nth-child(3) div:after {
    left: -4.44px;
    top: 25.53px;
    box-shadow: 59.940000000000005px 0 0 0 #338cea;
}

.ldio-7rfqzo2nvoe > div:nth-child(4) { border-color: transparent; }
.ldio-7rfqzo2nvoe > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-7rfqzo2nvoe > div:nth-child(4) div:before, .ldio-7rfqzo2nvoe > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4.44px;
    height: 4.44px;
    top: -4.44px;
    left: 19.98px;
    background: #ee2b04;
    border-radius: 50%;
    box-shadow: 0 48.84px 0 0 #ee2b04;
}
.ldio-7rfqzo2nvoe > div:nth-child(4) div:after {
    left: -4.44px;
    top: 19.98px;
    box-shadow: 48.84px 0 0 0 #ee2b04;
}
.loadingio-spinner-double-ring-syiivo0a54 {
    width: 111px;
    height: 111px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-7rfqzo2nvoe {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-7rfqzo2nvoe div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.loadingio-spinner-double-ring-syiivo0a54{
    margin: auto;
}