.person-details{
    background-color: #2B2A2B;
    padding: 25px;
}

.person-details__img img{
    width: 100%;
}

.person-details__container{
    position: relative;
}

.person-details__container .loadingio-spinner-double-ring-syiivo0a54{
    position: absolute;
    z-index: 10;
    left: 35%;
    top: 10%;
}